@model WebAuction.BusinessLayer.DataTransferObjects.AuctionDto

@{
    ViewBag.Title = "AuctionDetailView";
}

<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <div>
                <img src="@Model.PhotoUri" class="img-responsive col-sm-3"/>
            </div>
        </div>
    </div>
</div>