@using System.Web.Mvc.Html
@using X.PagedList.Mvc
@model WebAuction.PresentationLayer.Models.Auctions.AuctionListViewModel

@{
    ViewBag.Title = "AuctionListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuctionListView</h2>

<div class="panel">
    @{
        foreach (var auction in Model.Auctions)
        {
            <div class="clickable-area" @("onclick=GoToDetail('" + auction.Id + "')")>

                <div class="row text-center">
                    <img src="@auction.PhotoUri" class="img-responsive imageClip">
                </div>
                <div class="caption text-center">
                    <h4 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" id="thumbnail-label">@auction.Name</h4>
                </div>
                <p style="height: 80px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify;">@auction.Description</p>
            </div>
        }
    }
</div>


<script>
    function GoToDetail(id) {
        window.location = "/Auctions/Details/" + id;
    }
</script>