@using System.Web.Mvc.Html
@using X.PagedList.Mvc
@model WebAuction.PresentationLayer.Models.Auctions.AuctionListViewModel

@{
    ViewBag.Title = "AuctionListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuctionListView</h2>

